.CountryCardsContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 2rem;
}
.link {
  text-decoration: none;
}
@media screen and (max-width: 1250px) {
  .CountryCardsContainer {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media screen and (max-width: 1000px) {
  .CountryCardsContainer {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 600px) {
  .CountryCardsContainer {
    grid-template-columns: repeat(1, 1fr) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
